@model IEnumerable<ISAR.Models.UnidadDeMedida>

@{
    ViewBag.Title = "Unidades de Medida";
}

<h4>@ViewBag.Title <a href="@Url.Action("Create")" class="btn btn-success btn-cons" style="margin-left: 20px;">Agregar Unidad de Medida</a></h4>

<table class="table" id="dtTable">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Nombre)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
@foreach (var item in Model) {
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Nombre)
			</td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
		</tr>
}
	</tbody>
</table>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            var settings = {
                "sDom": "<'table-responsive't><'row'<'pull-right'p> <'pull-left'i>>",
                "sPaginationType": "bootstrap",
                "destroy": true,
                "scrollCollapse": true,
                "oLanguage": {
                    "sLengthMenu": "_MENU_ ",
                    "sInfo": "Showing <b>_START_ to _END_</b> of _TOTAL_ entries"
                },
                "iDisplayLength": 10
            };

            $('#dtTable').dataTable(settings);
        });
    </script>
}
