@using ISAR.Models;
@model IEnumerable<ISAR.Models.Objetivo>

@{
    ApplicationUser usuario = (ApplicationUser)ViewBag.usuario;
    
    switch ((string)ViewBag.Nivel)
    {
        case "1":
            ViewBag.Grupo = "Nivel Superior";
            ViewBag.Pantalla = "Estrategias Generales";
            break;
        case "2":
            ViewBag.Grupo = "Nivel Vicepresidencia";
            ViewBag.Pantalla = "Estrategias Específicas";
            break;
    }
    ViewBag.Title = "Listado de " + ViewBag.Pantalla;
}

<h4>@ViewBag.Title 
    @if (usuario.TienePermiso(1) || (ViewBag.Nivel == "1" && usuario.TienePermiso(2)) || (ViewBag.Nivel == "2" && usuario.TienePermiso(7))) // Captura de Estrategias
    {
        <a href="@Url.Action("Create", new { lvl = ViewBag.Nivel })" class="btn btn-success btn-cons" style="margin-left: 20px;">Agregar Estrategia</a>
    }
</h4>

@using (Html.BeginForm())
{
    @Html.Hidden("areaId", (int)ViewBag.CurrentArea.ID)
}

@if (usuario.TieneNivel(1))
{
    <div class="form-group form-group-default">
        @Html.Label("Area")
        <select class="full-width" data-init-plugin="select2" name="Area" id="Area">
            @foreach (Area item in ViewBag.Areas)
            {
                <option value="@item.ID" @(item.ID == ViewBag.CurrentArea.ID ? "selected=\"selected\"" : "")>@item.Nombre</option>
            }
        </select>
    </div>
}

<div class="panel">
    <ul class="nav nav-tabs nav-tabs-simple">
        <li class="active">
            <a data-toggle="tab" href="#tabEstrategias">Estrategias Alineadas</a>
        </li>
        <li>
            <a data-toggle="tab" href="#tabEstrategiasNoAlineadas">Estrategias No Alineadas</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tabEstrategias">
            @foreach (var item in Model)
            {
                <div class="col-md-12 contenido">
                    <div class="row">
                        <div class="col-md-12">
                            <h5>@item.Nombre</h5>
                        </div>
                    </div>
                    <table class="table">
                        <thead>
                            <tr class="info">
                                <th width="50">No.</th>
                                <th>Estrategia</th>
                                <th width="100">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Estrategia estrategia in item.Estrategias)
                            {
                                <tr>
                                    <td>@estrategia.ID</td>
                                    <td>@estrategia.Titulo</td>
                                    <td>
                                        @if (usuario.TienePermiso(1) || (ViewBag.Nivel == "1" && usuario.TienePermiso(2)) || (ViewBag.Nivel == "2" && usuario.TienePermiso(7))) // Captura de Estrategias
                                        {
                                            <a href="@Url.Action("Edit", new { id = estrategia.ID, lvl = ViewBag.Nivel })" style="color:green" class="fa fa-edit"></a>
                                        }
                                        else
                                        {
                                            <a href="@Url.Action("Details", new { id = estrategia.ID, lvl = ViewBag.Nivel })" style="color:green" class="fa fa-edit"></a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
        </div>
        <div class="tab-pane" id="tabEstrategiasNoAlineadas">
            <table class="table" id="dtTable">
                <thead>
                    <tr>
                        <th>
                            Estrategia
                        </th>
                        <th width="100">
                            Accion
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Estrategia item in ViewBag.EstrategiasNoAlineadas)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Titulo)
                            </td>
                            <td>
                                @if (usuario.TienePermiso(1) || (ViewBag.Nivel == "1" && usuario.TienePermiso(2)) || (ViewBag.Nivel == "2" && usuario.TienePermiso(7))) // Captura de Estrategias
                                {
                                    <a href="@Url.Action("Edit", new { id = item.ID, lvl = ViewBag.Nivel })" style="color:green" class="fa fa-edit"></a>
                                    <a href="#" style="color:red" class="fa fa-minus" data-toggle="modal" data-target="#modalDelete" data-id="@item.ID" data-puede-eliminar="@item.PuedeEliminar()" id="btnDelete"></a>
                                }
                                else
                                {
                                    <a href="@Url.Action("Details", new { id = item.ID, lvl = ViewBag.Nivel })" style="color:green" class="fa fa-edit"></a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade slide-up disable-scroll" id="modalDelete" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content-wrapper">
            <div class="modal-content">
                <div class="modal-header clearfix text-left">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="pg-close fs-14"></i>
                    </button>
                    <h4 class="semi-bold">¿Esta seguro que desea eliminar esta Estrategia?</h4>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm("Delete", "Estrategias", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.Hidden("ID")
                        @Html.Hidden("lvl", (string)ViewBag.Nivel)
                        <div class="row">
                            <div class="col-md-8"></div>
                            <div class="col-md-4">
                                <input type="submit" value="Eliminar Estrategia" class="btn btn-primary btn-block m-t-5 pull-right" />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            var settings = {
                "sDom": "<'table-responsive't><'row'<'pull-right'p> <'pull-left'i>>",
                "sPaginationType": "bootstrap",
                "destroy": true,
                "scrollCollapse": true,
                "oLanguage": {
                    "sLengthMenu": "_MENU_ ",
                    "sInfo": "Mostrando items del <b>_START_ al _END_</b> de un total de _TOTAL_ items",
                    "sEmptyTable": "No existe información para mostrar.",
                    "sInfoEmpty": ""
                },
                "iDisplayLength": 10
            };

            $('.contenido > table').dataTable(settings);

            $("#Area").on("change", function (val) {
                $("#areaId").val(val.val);
                $("form").submit();
            });
            var settings_noalineados = {
                "sDom": "<'table-responsive't><'row'<'pull-right'p> <'pull-left'i>>",
                "sPaginationType": "bootstrap",
                "destroy": true,
                "scrollCollapse": true,
                "oLanguage": {
                    "sLengthMenu": "_MENU_ ",
                    "sInfo": "Mostrando items del <b>_START_ al _END_</b> de un total de _TOTAL_ items",
                    "sEmptyTable": "No existe información para mostrar.",
                    "sInfoEmpty": ""
                },
                "iDisplayLength": 10
            };

            $('#dtTable').dataTable(settings_noalineados);

            $('#modalDelete').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget)
                var Id = button.data('id')
                var del = button.data("puede-eliminar")

                if (del == "False") {
                    $('body').pgNotification({
                        style: 'flip',
                        message: 'No se puede eliminar una Estrategia que está en uso.',
                        type: 'danger'
                    }).show();
                    return false;
                }
                var modal = $(this)
                modal.find("#ID").val(Id);
            })
        });
    </script>
}
