@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>

@{
    ViewBag.Title = "Listado de Roles";
    ViewBag.Grupo = "Administración";
    ViewBag.Pantalla = "Roles";
}

<h4>@ViewBag.Title <a href="@Url.Action("Create")" class="btn btn-success btn-cons" style="margin-left: 20px;">Agregar</a></h4>

<table class="table" id="dtRoles">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th width="100">
                Acciones
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a href="@Url.Action("Edit", new { id = item.Id })" style="color:green" class="fa fa-edit"></a>
                    <a href="#" style="color:red" class="fa fa-minus" data-toggle="modal" data-target="#modalDelete" data-id="@item.Id" id="btnDelete"></a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="modal fade slide-up disable-scroll" id="modalDelete" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content-wrapper">
            <div class="modal-content">
                <div class="modal-header clearfix text-left">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="pg-close fs-14"></i>
                    </button>
                    <h4 class="semi-bold">¿Esta seguro que desea eliminar este Rol?</h4>
                </div>
                <div class="modal-body">
                    <h5>Al eliminar este rol, los usuarios asignados no serán eliminados, solamente el Rol será eliminado.</h5>
                    @using (Html.BeginForm("Delete", "Roles", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.Hidden("id")
                        <div class="row">
                            <div class="col-md-8"></div>
                            <div class="col-md-4">
                                <input type="submit" value="Eliminar Rol" class="btn btn-primary btn-block m-t-5 pull-right" />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            var settings = {
                "sDom": "<'table-responsive't><'row'<'pull-right'p> <'pull-left'i>>",
                "sPaginationType": "bootstrap",
                "destroy": true,
                "scrollCollapse": true,
                "oLanguage": {
                    "sLengthMenu": "_MENU_ ",
                    "sInfo": "Showing <b>_START_ to _END_</b> of _TOTAL_ entries"
                },
                "iDisplayLength": 10
            };

            $('#dtRoles').dataTable(settings);
        });

        $('#modalDelete').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            var Id = button.data('id')

            var modal = $(this)
            modal.find('#id').val(Id);
        })
    </script>
}