@model ISAR.Models.Indicador

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Indicador</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Formula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Formula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FuenteInforacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FuenteInforacion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
