@model ISAR.Models.Periodo

@{
    ViewBag.Title = "Editar Periodo";
}

<h4>@ViewBag.Title</h4>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="row">
        @Html.ValidationSummary("", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="form-group form-group-default">
            @Html.LabelFor(model => model.Nombre)
            @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
        </div>

        <div class="form-group form-group-default input-group">
            @Html.LabelFor(model => model.FechaInicio)
            @Html.EditorFor(model => model.FechaInicio, new { htmlAttributes = new { @class = "form-control" } })
            <span class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </span>
        </div>

        <div class="form-group form-group-default input-group">
            @Html.LabelFor(model => model.FechaFin)
            @Html.EditorFor(model => model.FechaFin, new { htmlAttributes = new { @class = "form-control" } })
            <span class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </span>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    Activo / Inactivo
                </div>
            </div>
            <div class="panel-body">
                <div class="checkbox check-success">
                    <input type="checkbox" value="true" checked="@Model.Activo" name="Activo" id="Activo">
                    @Html.LabelFor(model => model.Activo)
                </div>
            </div>
        </div>

        <a href="@Url.Action("index")" class="btn btn-warning btn-cons">Regresar</a> <input type="submit" value="Editar Periodo" class="btn btn-success btn-cons" />
    </div>
}

@section scripts {
@Scripts.Render("~/bundles/jqueryval")
    <script>
        $("#FechaInicio, #FechaFin").datepicker({
            language: 'es',
            format: 'dd/mm/yyyy'
        });
    </script>
}