@using ISAR.Models;
@model ISAR.Models.RegisterViewModel
@{
    ViewBag.Title = "Agregar Usuario";
    ViewBag.Grupo = "Administración";
    ViewBag.Pantalla = ViewBag.Title; 
    List<NivelOrganizacional> niveles = ViewBag.Niveles;
}

<h4>@ViewBag.Title</h4>
<div id="summary"></div>
@using (Html.BeginForm("Create", "Usuarios", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-12">
            
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })

            <div class="form-group form-group-default required">
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
            </div>

            <div class="form-group form-group-default required">
                @Html.LabelFor(m => m.Nombre)
                @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control" })
            </div>

            <div class="form-group form-group-default required">
                @Html.LabelFor(model => model.Email)
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>

            <div class="form-group form-group-default required">
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>

            <div class="form-group form-group-default required">
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>

            <div class="form-group form-group-default">
                @Html.LabelFor(m => m.Puesto)
                <select class="full-width" data-init-plugin="select2" name="Puesto">
                    @foreach (Puesto item in ViewBag.Puestos)
                    {
                        <option value="@item.ID">@item.Nombre</option>
                    }
                </select>
            </div>

            <div class="form-group form-group-default">
                @Html.LabelFor(model => model.Area)
                <select class="full-width" data-init-plugin="select2" name="Area">
                    @foreach (NivelOrganizacional nivel in niveles)
                    {
                        <optgroup label="@nivel.Nombre">
                            @foreach (Area area in @nivel.Areas.ToList())
                            {
                                <option value="@area.ID">@area.Nombre</option>
                            }
                        </optgroup>
                    }
                </select>
            </div>

            <div class="form-group form-group-default">
                @Html.Label("Rol")
                <select class="full-width" data-init-plugin="select2" name="SelectedRoles">
                    @foreach (var item in (SelectList)ViewBag.RoleId)
                    {
                        <option value="@item.Value">@item.Value</option>
                    }
                </select>
            </div>

            <div class="form-group form-group-default required">
                @Html.Label("Activo / Inactivo")
                <div class="checkbox check-success">
                    <input type="checkbox" name="Activo" id="Activo" value="true" />
                    @Html.Label("Activo", "Activo / Inactivo")
                </div>
            </div>

            <a href="@Url.Action("index")" class="btn btn-warning btn-cons">Regresar</a> <input type="submit" value="Agregar Usuario" class="btn btn-success btn-cons" />
        </div>
    </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        //$('[data-toggle="popover"]').popover();

        var defaults = {
            onkeyup: false,
            //onfocusout: false,
            showErrors: function (errorMap, errorList) {
                if (errorMap.Email != null && $("#Email").val() != "") {
                    $("#Email")
                        .popover({
                            content: errorMap.Email,
                            container: 'body',
                            placement: 'bottom'
                        })
                        .popover('show');
                }
                if (this.invalid.Email == null) {
                    $("#Email").popover('destroy');
                }

                if (errorMap.Password != null && $("#Password").val() != "") {
                    $("#Password")
                        .popover({
                            content: errorMap.Password,
                            container: 'body',
                            placement: 'bottom'
                        })
                        .popover('show');
                }
                if (this.invalid.Password == null) {
                    $("#Password").popover('destroy');
                }

                if (errorMap.ConfirmPassword != null && $("#ConfirmPassword").val() != "") {
                    $("#ConfirmPassword")
                        .popover({
                            content: errorMap.ConfirmPassword,
                            container: 'body',
                            placement: 'bottom'
                        })
                        .popover('show');
                }
                if (this.invalid.ConfirmPassword == null) {
                    $("#ConfirmPassword").popover('destroy');
                }

                this.defaultShowErrors();
            }
        };

        $.validator.setDefaults(defaults);
    </script>
}
