@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.Owin;
@using Microsoft.AspNet.Identity.EntityFramework;
@using System.Web.Mvc;
@using ISAR.Models;
@model IEnumerable<ISAR.Models.ApplicationUser>

@{
    ApplicationUserManager userManager = ViewBag.UserManager;
    ApplicationDbContext db = ViewBag.DbContext;
    ViewBag.Title = "Listado de Usuarios";
    ViewBag.Grupo = "Administración";
    ViewBag.Pantalla = "Usuarios";
}

<h4>@ViewBag.Title <a href="@Url.Action("Create")" class="btn btn-success btn-cons" style="margin-left: 20px;">Agregar Usuario</a></h4>

<div class="row">
    <table class="table" id="dtUserList">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    Área
                </th>
                <th>
                    Rol
                </th>
                <th width="100">
                    Acción
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                ApplicationUser user = db.Users.Find(item.Id);
                var roles = userManager.GetRoles(user.Id);
                
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                        @if (item.LockoutEndDateUtc != null)
                        {
                            <a href="#" style="color:red" class="fa fa-lock pull-right" data-toggle="tooltip" title="Cuenta bloqueada"></a>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => user.UsuarioArea.Nombre)
                    </td>
                    <td>
                        @Html.Raw(string.Join(", ", roles))
                    </td>
                    <td>
                        <a href="@Url.Action("RestablecerPasswordAdmin", "Cuenta", new { code = userManager.GeneratePasswordResetToken(item.Id), nombre = "(" + item.Nombre + ")", userName = item.UserName })" style="color:blue" class="fa fa-list-alt" data-toggle="tooltip" title="Restablecer Password"></a>
                        <a href="@Url.Action("Edit", new { id=item.Id })" style="color:green" class="fa fa-edit" data-toggle="tooltip" title="Editar Usuario"></a>
                        <a href="#" style="color:red" class="fa fa-minus" data-toggle="modal" data-target="#modalDelete" data-id="@item.Id" data-puede-eliminar="@item.PuedeEliminar()" id="btnDelete"></a>
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>

<div class="modal fade slide-up disable-scroll" id="modalDelete" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content-wrapper">
            <div class="modal-content">
                <div class="modal-header clearfix text-left">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="pg-close fs-14"></i>
                    </button>
                    <h4 class="semi-bold">¿Esta seguro que desea eliminar este Usuario?</h4>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm("Delete", "Usuarios", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.Hidden("Id")
                        <div class="row">
                            <div class="col-md-8"></div>
                            <div class="col-md-4">
                                <input type="submit" value="Eliminar Usuario" class="btn btn-primary btn-block m-t-5 pull-right" />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();

            var settings = {
                "sDom": "<'table-responsive't><'row'<'pull-right'p> <'pull-left'i>>",
                "sPaginationType": "bootstrap",
                "destroy": true,
                "scrollCollapse": true,
                "oLanguage": {
                    "sLengthMenu": "_MENU_ ",
                    "sInfo": "Mostrando items del <b>_START_ al _END_</b> de un total de _TOTAL_ items",
                    "sEmptyTable": "No existe información para mostrar.",
                    "sInfoEmpty": ""
                },
                "iDisplayLength": 10
            };

            $('#dtUserList').dataTable(settings);
        });

        $('#modalDelete').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            var Id = button.data('id')
            var del = button.data("puede-eliminar")

            if (del == "False") {
                $('body').pgNotification({
                    style: 'flip',
                    message: 'No se puede eliminar un Usuario que está en uso.',
                    type: 'danger'
                }).show();
                return false;
            }
            var modal = $(this)
            modal.find("#Id").val(Id);
        })
    </script>
}