@using ISAR.Models;
@{
    ApplicationDbContext db = new ApplicationDbContext();
    ViewBag.Title = "Dashboard";
    ViewBag.Grupo = "Inicio";
    ViewBag.Pantalla = ViewBag.Title;
    ApplicationUser user = db.Users.FirstOrDefault(item => item.UserName == User.Identity.Name);
}

@if (user.TieneNivel(1) || user.TienePermiso(1, 3, 5))
{
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading separator">
                    <div class="panel-title">
                        Nivel Estratégico Superior
                    </div>
                </div>
                <div class="panel-body">
                    <ul>
                        <li class="">
                            @Html.ActionLink("Mision y Vision", "index", "dashboard")
                        </li>
                        @if (user.TienePermiso(1, 5)) { 
                        <li class="">
                            @Html.ActionLink("Objetivos de la Organización", "index", "objetivos", new { lvl = 1 }, new { })
                        </li>
                        }
                        @if (user.TienePermiso(1, 3)) {
                        <li class="">
                            @Html.ActionLink("Estrategias Generales", "index", "estrategias", new { lvl = 1 }, new { })
                        </li>
                        }
                        <li class="">
                            @Html.ActionLink("Tableros de Indicadores", "index", "dashboard")
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
}

@if (user.TieneNivel(2) || user.TienePermiso(1, 8, 10) || user.TieneNivel(1))
{
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading separator">
                    <div class="panel-title">
                        Nivel Estratégico Vicepresidencias
                    </div>
                </div>
                <div class="panel-body">
                    <ul>
                        @if (user.TienePermiso(1, 8)) { 
                        <li class="">
                            @Html.ActionLink("Objetivos Estratégicos", "index", "objetivos", new { lvl = 2 }, new { })
                        </li>
                        }
                        @if (user.TienePermiso(1, 10)) {
                        <li class="">
                            @Html.ActionLink("Estrategias Especifícas", "index", "estrategias", new { lvl = 2 }, new { })
                        </li>
                        }
                        <li class="">
                            @Html.ActionLink("Tableros de Indicadores", "index", "dashboard")
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
}

@if (user.TieneNivel(3) || user.TienePermiso(1, 12) || user.TieneNivel(1))
{
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading separator">
                    <div class="panel-title">
                        Nivel Operativo
                    </div>
                </div>
                <div class="panel-body">
                    <ul>
                        @if (user.TienePermiso(1, 12)) { 
                        <li class="">
                            @Html.ActionLink("Objetivos Operativos", "index", "objetivos", new { lvl = 3 }, new { })
                        </li>
                        }
                        <li class="">
                            @Html.ActionLink("Procesos", "index", "dashboard")
                        </li>
                        <li class="">
                            @Html.ActionLink("Proyectos", "index", "dashboard")
                        </li>
                        <li class="">
                            @Html.ActionLink("Indicadores", "index", "dashboard")
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
}

@if (user.TienePermiso(1)) { 
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading separator">
                    <div class="panel-title">
                        Administración
                    </div>
                </div>
                <div class="panel-body">
                    <ul>
                        <li class="">
                            @Html.ActionLink("Areas", "index", "areas")
                        </li>
                        <li class="">
                            @Html.ActionLink("Unidades de Medida", "index", "unidaddemedida")
                        </li>
                        <li class="">
                            @Html.ActionLink("Periodos", "index", "periodos")
                        </li>
                        <li class="">
                            @Html.ActionLink("Atribuciones", "index", "atribuciones")
                        </li>
                        <li class="">
                            @Html.ActionLink("Puestos", "index", "puestos")
                        </li>
                        <li class="">
                            @Html.ActionLink("Roles", "index", "roles")
                        </li>
                        <li class="">
                            @Html.ActionLink("Usuarios", "index", "usuarios")
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
}

@if (ViewBag.Code != null)
{
    <div class="modal fade slide-up disable-scroll" id="modalShow" tabindex="-1" role="dialog" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content-wrapper">
                <div class="modal-content">
                    <div class="modal-header clearfix text-left">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            <i class="pg-close fs-14"></i>
                        </button>
                        <h4 class="semi-bold">¿Desea restablecer su contraseña?</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Notamos que su contraseña no ha sido restablecida, ¿Desea restablecer su contraseña ahora?</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <button type="button" class="btn btn-warning btn-lg btn-large btn-block" data-dismiss="modal">
                                    Cancelar
                                </button>
                            </div>
                            <div class="col-md-4">
                                <a href="@Url.Action("RestablecerPassword", "Cuenta", new { code = ViewBag.Code, userName = user.UserName })" class="btn btn-primary btn-lg btn-large btn-block">Restablecer</a> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section scripts {
@if (ViewBag.Code != null)
{
<script>
    $("#modalShow")
        .modal({
            backdrop: 'static',
            keyboard: false
        })
        .modal("show");
</script>
}
}