@model ISAR.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Restablecer Password";
    ViewBag.Grupo = "Administración";
    ViewBag.Pantalla = ViewBag.Title + ' ' + ViewBag.Nombre;
}

<h4>@ViewBag.Title</h4>

@using (Html.BeginForm("RestablecerPasswordAdmin", "Cuenta", FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Code)
    <div class="row">
        <div class="form-group form-group-default">
            @Html.LabelFor(m => m.UserName)
            @Html.EditorFor(m => m.UserName, new { htmlAttributes = new { @class = "form-control", readOnly = "readonly" } })
        </div>
        <div class="form-group form-group-default">
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
        <div class="form-group form-group-default">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>

        <a href="@Url.Action("index", "usuarios")" class="btn btn-warning btn-cons">Regresar</a> <input type="submit" value="Restablecer Password" class="btn btn-success btn-cons" />
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

<script>
        var defaults = {
            onkeyup: false,
            //onfocusout: false,
            showErrors: function (errorMap, errorList) {

                if (errorMap.Password != null && $("#Password").val() != "") {
                    $("#Password")
                        .popover({
                            content: errorMap.Password,
                            container: 'body',
                            placement: 'bottom'
                        })
                        .popover('show');
                }
                if (this.invalid.Password == null) {
                    $("#Password").popover('destroy');
                }

                if (errorMap.ConfirmPassword != null) {
                    $("#ConfirmPassword")
                        .popover({
                            content: errorMap.ConfirmPassword,
                            container: 'body',
                            placement: 'bottom'
                        })
                        .popover('show');
                }
                if (this.invalid.ConfirmPassword == null) {
                    $("#ConfirmPassword").popover('destroy');
                }

                this.defaultShowErrors();
            }
        };

        $.validator.setDefaults(defaults);
</script>
}
